# ML project

In this project we will explore a dataset with the following columns:
- **RowNumber**—corresponds to the record number.
- **CustomerId**—contains the identification number of the client.
- **Surname**—the surname of the customer.
- **CreditScore**—can have an effect on customer churn, since a customer with a higher credit score is less likely to 
leave the bank.
- **Geography**—the customer’s location.
- **Gender**—the customer's gender.
- **Age**—this is certainly relevant, since older customers are less likely to leave their bank than younger ones.
- **Tenure**—refers to the number of years that the customer has been a client of the bank. Normally, older clients are more loyal and less likely to leave a bank.
- **Balance**—also a very good indicator of customer churn, as people with a higher balance in their accounts are less likely to leave the bank compared to those with lower balances.
- **NumOfProducts**—refers to the number of products that a customer has purchased through the bank.
- **HasCrCard**—denotes whether or not a customer has a credit card. This column is also relevant, since people with a credit card are less likely to leave the bank.
- **IsActiveMember**—active customers are less likely to leave the bank.
- **EstimatedSalary**—as with balance, people with lower salaries are more likely to leave the bank compared to those with higher salaries.
- **Exited**—whether or not the customer left the bank.
- **Complain**—customer has complaint or not.
- **Satisfaction Score**—Score provided by the customer for their complaint resolution.
- **Card Type**—type of card hold by the customer.
- **Points Earned**—the points earned by the customer for using credit card.


The idea for this project is a pedagogical one: try to explore as many techniques as you can. I understand you have jobs and families and things to do, so I will focus more on the rigor rather than the quantity. 

## Minimum requirements:

1. Explore the data statistics as you have learned in our and previous modules.
2. Validation techniques: train/validation/test split is the minimum and most common one, but feel free to explore others.
3. Choose a classification model and train it.
4. Check the metrics.


## Optional things to learn more (ask me if you had any questions):

1. Outlier detection
2. Feature selection and dimensionality reduction techniques
3. Imbalanced dataset techniques
4. Hyperparameter tunning
5. Statistical tests

### NOTE: it is important to comment with text *every step* to show that you understand what you are doing

In [18]:
# Import the Customer-Churn-Records.csv file and HAVE FUN
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score


data=pd.read_csv('Customer-Churn-Records.csv')
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Complain',
       'Satisfaction Score', 'Card Type', 'Point Earned'],
      dtype='object')

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   RowNumber           10000 non-null  int64
 1   CustomerId          10000 non-null  int64
 2   Surname             10000 non-null  object
 3   CreditScore         10000 non-null  int64
 4   Geography           10000 non-null  object
 5   Gender              10000 non-null  object
 6   Age                 10000 non-null  int64
 7   Tenure              10000 non-null  int64
 8   Balance             10000 non-null  float64
 9   NumOfProducts       10000 non-null  int64
 10  HasCrCard           10000 non-null  int64
 11  IsActiveMember      10000 non-null  int64
 12  EstimatedSalary     10000 non-null  float64
 13  Exited              10000 non-null  int64
 14  Complain            10000 non-null  int64
 15  Satisfaction Score  10000 non-null  int64
 16  Card Type           10000 non-null  object
 17  Point Earned        10000 non-null  int64
dtypes: float64(2), int64(12), object(4)
memory usage: 1.4+ MB

In [3]:
data.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Point Earned
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203800,0.204400,3.013800,606.515100
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402842,0.403283,1.405919,225.924839
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000,0.000000,1.000000,119.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000,0.000000,2.000000,410.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000,0.000000,3.000000,605.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000,0.000000,4.000000,801.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000,1.000000,5.000000,1000.000000

In [4]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425

In [5]:
data.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1,DIAMOND,300
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,5,PLATINUM,771
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1,1,3,SILVER,564
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,1,2,GOLD,339
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,3,DIAMOND,911

In [6]:
data.isnull()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
numeric_columns = data.describe().columns.to_list()
numeric_columns

['RowNumber',
 'CustomerId',
 'CreditScore',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'HasCrCard',
 'IsActiveMember',
 'EstimatedSalary',
 'Exited',
 'Complain',
 'Satisfaction Score',
 'Point Earned']

In [8]:
y = data['Exited']
X = data.drop(columns=['RowNumber', 'CustomerId', 'Exited', 'Card Type'])
print(X.columns)

Index(['Surname', 'CreditScore', 'Geography', 'Gender', 'Age', 'Tenure',
       'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'EstimatedSalary', 'Complain', 'Satisfaction Score', 'Point Earned'],
      dtype='object')

In [9]:
categorical_cols = ['Surname', 'Geography', 'Gender']

In [11]:
encoder = OneHotEncoder(drop='first', sparse_output=False)
encoded_categorical_cols = pd.DataFrame(encoder.fit_transform(X[categorical_cols]), columns=encoder.get_feature_names_out(categorical_cols))

In [12]:
X = X.drop(columns=categorical_cols)
X = pd.concat([X.reset_index(drop=True), encoded_categorical_cols.reset_index(drop=True)], axis=1)
print(X)

      CreditScore  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
0             619   42       2       0.00              1          1
1             608   41       1   83807.86              1          0
2             502   42       8  159660.80              3          1
3             699   39       1       0.00              2          0
4             850   43       2  125510.82              1          1
...           ...  ...     ...        ...            ...        ...
9995          771   39       5       0.00              2          1
9996          516   35      10   57369.61              1          1
9997          709   36       7       0.00              1          0
9998          772   42       3   75075.31              2          1
9999          792   28       4  130142.79              1          1

      IsActiveMember  EstimatedSalary  Complain  Satisfaction Score  ...  \
0                  1        101348.88         1                   2  ...
1                  1        112542.58         1                   3  ...
2                  0        113931.57         1                   3  ...
3                  0         93826.63         0                   5  ...
4                  1         79084.10         0                   5  ...
...              ...              ...       ...                 ...  ...
9995               0         96270.64         0                   1  ...
9996               1        101699.77         0                   5  ...
9997               1         42085.58         1                   3  ...
9998               0         92888.52         1                   2  ...
9999               0         38190.78         0                   3  ...

      Surname_Zotova  Surname_Zox  Surname_Zubarev  Surname_Zubareva  \
0                0.0          0.0              0.0               0.0
1                0.0          0.0              0.0               0.0
2                0.0          0.0              0.0               0.0
3                0.0          0.0              0.0               0.0
4                0.0          0.0              0.0               0.0
...              ...          ...              ...               ...
9995             0.0          0.0              0.0               0.0
9996             0.0          0.0              0.0               0.0
9997             0.0          0.0              0.0               0.0
9998             0.0          0.0              0.0               0.0
9999             0.0          0.0              0.0               0.0

      Surname_Zuev  Surname_Zuyev  Surname_Zuyeva  Geography_Germany  \
0              0.0            0.0             0.0                0.0
1              0.0            0.0             0.0                0.0
2              0.0            0.0             0.0                0.0
3              0.0            0.0             0.0                0.0
4              0.0            0.0             0.0                0.0
...            ...            ...             ...                ...
9995           0.0            0.0             0.0                0.0
9996           0.0            0.0             0.0                0.0
9997           0.0            0.0             0.0                0.0
9998           0.0            0.0             0.0                1.0
9999           0.0            0.0             0.0                0.0

      Geography_Spain  Gender_Male
0                 0.0          0.0
1                 1.0          0.0
2                 0.0          0.0
3                 0.0          0.0
4                 1.0          0.0
...               ...          ...
9995              0.0          1.0
9996              0.0          1.0
9997              0.0          0.0
9998              0.0          1.0
9999              0.0          0.0

[10000 rows x 2945 columns]

In [32]:
# Split the data into training, validation, and test sets
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

In [33]:
# Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_val = scaler.transform(X_val)
X_test = scaler.transform(X_test)

In [20]:
print(X_train.shape, X_val.shape, X_test.shape)
print(y_train.shape, y_val.shape, y_test.shape)

(7000, 2945) (1500, 2945) (1500, 2945)
(7000,) (1500,) (1500,)

In [22]:
rfc = RandomForestClassifier(random_state=42)
rfc.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [23]:
#Random Forest Model
print('Random Forest Classifier:')
print(f'Train: {rfc.score(X_train, y_train)}')
print(f'Validation: {rfc.score(X_val, y_val)}')
print(f'Test: {rfc.score(X_test, y_test)}')

Random Forest Classifier:
Train: 1.0
Validation: 0.9986666666666667
Test: 0.9986666666666667

In [25]:
# Predictions and metrics on validation set
y_val_pred = rfc.predict(X_val)
accuracy = accuracy_score(y_val, y_val_pred)
precision = precision_score(y_val, y_val_pred)
recall = recall_score(y_val, y_val_pred)
f1 = f1_score(y_val, y_val_pred)
print(f'Validation Accuracy: {accuracy:.2f}')
print(f'Validation Precision: {precision:.2f}')
print(f'Validation Recall: {recall:.2f}')
print(f'Validation F1 Score: {f1:.2f}')

Validation Accuracy: 1.00
Validation Precision: 1.00
Validation Recall: 1.00
Validation F1 Score: 1.00

In [26]:
# Predictions and metrics on test set
y_test_pred = rfc.predict(X_test)
accuracy_test = accuracy_score(y_test, y_test_pred)
precision_test = precision_score(y_test, y_test_pred)
recall_test = recall_score(y_test, y_test_pred)
f1_test = f1_score(y_test, y_test_pred)
print(f'Test Accuracy: {accuracy_test:.2f}')
print(f'Test Precision: {precision_test:.2f}')
print(f'Test Recall: {recall_test:.2f}')
print(f'Test F1 Score: {f1_test:.2f}')

Test Accuracy: 1.00
Test Precision: 0.99
Test Recall: 1.00
Test F1 Score: 1.00

In [27]:
# Train the Logistic Regression model
lr = LogisticRegression(random_state=42, max_iter=10000)
lr.fit(X_train, y_train)

LogisticRegression(max_iter=10000, random_state=42)

In [28]:
print('Logistic Regression Classifier:')
print(f'Train: {lr.score(X_train, y_train)}')
print(f'Validation: {lr.score(X_val, y_val)}')
print(f'Test: {lr.score(X_test, y_test)}')

Logistic Regression Classifier:
Train: 0.9995714285714286
Validation: 0.998
Test: 0.998

In [30]:
y_val_pred_lr = lr.predict(X_val)
accuracy_lr_val = accuracy_score(y_val, y_val_pred_lr)
precision_lr_val = precision_score(y_val, y_val_pred_lr)
recall_lr_val = recall_score(y_val, y_val_pred_lr)
f1_lr_val = f1_score(y_val, y_val_pred_lr)
print(f'Logistic Regression Validation Accuracy: {accuracy_lr_val:.2f}')
print(f'Logistic Regression Validation Precision: {precision_lr_val:.2f}')
print(f'Logistic Regression Validation Recall: {recall_lr_val:.2f}')
print(f'Logistic Regression Validation F1 Score: {f1_lr_val:.2f}')

Logistic Regression Validation Accuracy: 1.00
Logistic Regression Validation Precision: 1.00
Logistic Regression Validation Recall: 0.99
Logistic Regression Validation F1 Score: 0.99

In [31]:
y_test_pred_lr = lr.predict(X_test)
accuracy_lr_test = accuracy_score(y_test, y_test_pred_lr)
precision_lr_test = precision_score(y_test, y_test_pred_lr)
recall_lr_test = recall_score(y_test, y_test_pred_lr)
f1_lr_test = f1_score(y_test, y_test_pred_lr)

print(f'Logistic Regression Test Accuracy: {accuracy_lr_test:.2f}')
print(f'Logistic Regression Test Precision: {precision_lr_test:.2f}')
print(f'Logistic Regression Test Recall: {recall_lr_test:.2f}')
print(f'Logistic Regression Test F1 Score: {f1_lr_test:.2f}')

Logistic Regression Test Accuracy: 1.00
Logistic Regression Test Precision: 0.99
Logistic Regression Test Recall: 1.00
Logistic Regression Test F1 Score: 1.00